@page "/books/create"
@using Microsoft.EntityFrameworkCore
@using RatingApp.Components
@inject IDbContextFactory<RatingApp.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Book</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Book" OnValidSubmit="AddBook" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="author" class="form-label">Author:</label> 
                <InputText id="author" @bind-Value="Book.Author" class="form-control" /> 
                <ValidationMessage For="() => Book.Author" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label> 
                <InputText id="title" @bind-Value="Book.Title" class="form-control" /> 
                <ValidationMessage For="() => Book.Title" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="releasedate" class="form-label">ReleaseDate:</label> 
                <InputDate id="releasedate" @bind-Value="Book.ReleaseDate" class="form-control" /> 
                <ValidationMessage For="() => Book.ReleaseDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="rate" class="form-label">Rate:</label> 
                <InputNumber id="rate" @bind-Value="Book.Rate" class="form-control" /> 
                <ValidationMessage For="() => Book.Rate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="shortreview" class="form-label">ShortReview:</label> 
                <InputText id="shortreview" @bind-Value="Book.ShortReview" class="form-control" /> 
                <ValidationMessage For="() => Book.ShortReview" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="photouri" class="form-label">PhotoUri:</label> 
                <InputText id="photouri" @bind-Value="Book.PhotoUri" class="form-control" /> 
                <ValidationMessage For="() => Book.PhotoUri" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/books">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Book Book { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddBook()
    {
        using var context = DbFactory.CreateDbContext();
        context.Book.Add(Book);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/books");
    }
}
